.events{
    background-color: #1F1F1F;
    padding: 3rem 3rem;
}

.events_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.events_header_title{
    font-size: 2.4rem;
    text-transform: uppercase;
    color: #f1f1f1;
}

.events_header_link{
    color: #57F09E;
    font-size: 1.3rem;
    text-decoration: underline;
    cursor: pointer;
}
.events_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 0;
}
.event_item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.event_main_line{
    height: 90%;
    min-height: 350px;
    width: 1px;
    background-color: #f1f1f1;
    border-radius: 10px;
}

.event_name{
    padding: 0;
    margin: 1.7rem 10px 0 0;
    color: #f1f1f1;
    font-size: 1.6rem;
    text-transform: uppercase;
}

.event_date{
    padding: 0;
    margin: 10px 0;
    text-transform: uppercase;
    color: #f1f1f1;
}