.form_submit{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3rem;
    width: 100%;
}

.form_box{
    margin: 1rem 0;
    width: 100%;
    position: relative;
}

.form_label{
    position: relative;
    top: 40%;
    transition: 0.4s;
    color: #f1f1f1;
}
.form_label.active{
    top: 0;
    transition: 0.4s;
}

.form_input{
    display: flex;
    width: 100%;
    margin: 0;
    background-color: inherit;
    border: none;
    border-bottom: 2px solid #f1f1f1;
    outline: none;
    padding: 16px 0;
    font-size: 1.4rem;
    color: #f1f1f1;
}

input.form_input:-webkit-autofill{
    background-color: #1F1F1F!important;
    color: #f1f1f1!important;
    font-size: 1.4rem;
    transition: font-size, color, background-color 5000s ease-in-out 0s;

}


.form_input.error{
    border-bottom: 2px solid red;
}

.form_submit_btn{
    color: #57F09E;
    font-size: 1.3rem;
    text-decoration: underline;
    cursor: pointer;
    background-color: inherit;
    border: none;
    outline: none;
}

@media all and (max-width: 480px){
    .form_submit{
        padding: 2rem;
    }
    .form_submit_btn{
        font-size: 1.8rem;
        text-transform: capitalize;
        margin-top: 20px;
    }
}
