.wrapper{
    height: 100%;
    width: 100%;
    background: url("../../images/space.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}